* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Bebas Neue Book";
    src: url("../fonts/BebasNeueBook.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Noto Sans", sans-serif;
    height: 0px;
    margin: 0px;
    padding: 0px;

}

.mobile-menu {
    display: none;
}

.container {
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.section .container {
    transform: translate(-3.4375rem, -7.1875rem);
}

.navbar {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 94px;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 2;
    width: 100%;
    border-bottom: .0625rem solid rgba(235, 235, 240, 0.2);
    transition: backround-color 0.2s, height 0.2s;
}

.navbar-light {
    background-color: rgb(255, 255, 255);
    color: rgb(41, 45, 51);
    height: 91.2px;
}

.logo-dark {
    display: none;
}

.navbar-light .logo-light {
    display: none;
}
.navbar-light .logo-dark {
    display: block;
}

.navbar-scroll {
    height: 4.5rem;
}

.phone-icon {
    fill: rgb(92, 142, 230);
}

.page-header {
    background-color: #F0F2F5;
    padding: 60px 0;
    text-align: left;
    position: relative;
    transform: translate(0px, 20px);
  }

.page-header .seporator {
    transform: translate(0px, -20px);
}
  
.page-header .container {
    transform: translate(-90px, 15px);
}

  .page-title {
    font-family: "Bebas Neue Book";   
    font-size: 60px;
    line-height: 120%;
    color: rgb(41, 45, 51);
    margin-bottom: 10px;
  }
  
  .breadcrumb {
    font-size: 14px;
    color: #8b8b8b;
  }
  

.logo-svg {
    width: 140px;
    height: 44px;
}

.navbar-light .header-logo-path {
    fill: rgb(41, 45, 51);
}

.header {
    padding: 94px;
    min-height: 100vh;
}

.header-image {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: auto;
}

.header-image::before {
    content: "";
    position: absolute;
    background-color: rgba(41, 45, 51, 0.65);
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 0rem 50px;
    border-right: .0625rem solid rgba(235, 235, 240, 0.2);
    height: 100%;
}

.header-nav {
    display: flex;
    align-items: center;
    height: 100%;
    flex-basis: 100%;
    list-style: none;
    padding: 0rem 0rem 0rem 50px;
    margin: 0rem;
    gap: 1.9063rem;
}

.header-nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-nav-item:not(:last-child) {
    margin-right: 2%;
}

.header-nav-link {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    color: inherit;
    position: relative;
    transform: translate(-1.25rem, .5rem);
}

.header-nav-link::after {
    content: "";
    width: 0rem;
    height: .125rem;
    position: absolute;
    bottom: -0.0625rem;
    background-color: rgb(92, 142, 230);
    transition: width 0.2s;
    right: 0rem;
    left: auto;
}

.header-nav-link:hover::after {
    width: 100%;
    right: auto;
    left: 0rem;
}

.header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 73.6px;
    transform: translate(1.25rem, .5rem);
}

.header-phone-link {
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: rgb(255, 255, 255);
    background: rgb(58, 113, 209);
    padding: 1.5625rem 3.75rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.6875rem;
    width: 19.6875rem;
    cursor: pointer;
    text-align: center;
}

.navbar-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: rgb(255, 255, 255);
    background: rgb(58, 113, 209);
    padding: 26px;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    height: 5rem;
    width: 28.4375rem;
    transition: background-color 0.3s;
    transform: translate(.375rem, -0.0125rem);
}

.navbar-button .button-icon {
    display: none;
}

.header-button {
    height: 100%;
}

.seporator {
    background: rgb(92, 142, 230);
    width: 150px;
    height: 2px;
    z-index: 999;
    position: absolute;
}

.section .seporator {
    transform: translate(6.25rem, -2.3125rem);
}

.header .seporator {
    transform: translate(9.0625rem, 1.875rem);
}

.header-content {
    padding-top: 150px;
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
    transform: translate(-8.4375rem, 0rem);
}

.header-title {
    max-width: 1020px;
    font-family: "Bebas Neue Book";
    font-size: 5rem;
    line-height: 120%;
    margin: 30px 0rem;
    letter-spacing: .05rem;
    word-spacing: -0.1rem;
    transform: translate(9.0625rem, -0.5rem);
}

.header-text {
    max-width: 700px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
    margin-bottom: 50px;
    transform: translate(9.0625rem, 2.375rem);
}

.header-features {
    display: flex;
    min-height: 168px;
    padding: 0rem;
    margin-top: 102px;
    list-style: none;
    color: rgb(255, 255, 255);
    position: relative;
    transform: translate(-8.75rem, -0.2188rem);
}

.header-features-item {
    padding: 28px 50px;
    min-height: 100%;
    width: 288px;
    border: .0625rem solid rgba(235, 235, 240, 0.2);
    transform: translate(9.375rem, -0.3125rem);
    height: auto;
}

.slider-buttons {
    display: none;
    justify-content: space-between;
    height: 2.75rem;
    width: 100%;
}

.slider-button-prev,
.slider-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-basis: 50%;
    border: .0625rem solid rgba(235, 235, 240, 0.2);
    cursor: pointer;
}

.header-button {
    padding: 26px 65px;
    height: 4.6875rem;
    width: 19.6875rem;
    transform: translate(9.0625rem, 2.5rem);
}

.header-features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    margin-bottom: 0rem;
    margin-top: 18px;
    transform: translate(-0.125rem, -0.3125rem);
}

.section.trademark .section-title {
    transform: translate(6.5625rem, -5.3125rem);
}

.section.trademark .seporator {
    transform: translate(6.5625rem, -6.875rem);
}

.section.production .section-title {
    transform: translate(6.5625rem, -4.375rem);
}

.section.production .seporator {
    transform: translate(6.5625rem, -5.9375rem);
}

.section {
    margin-top: 182px;
    margin-bottom: 150px;
    transform: translate(-2.5rem, 5rem);
}

.section.clients .container {
    transform: translate(3.4375rem, -31.25rem);
}

.section-title {
    font-family: "Bebas Neue Book";
    font-size: 60px;
    line-height: 120%;
    color: rgb(41, 45, 51);
    transform: translate(6.5625rem, -0.625rem);
}

.steps {
    display: flex;
    list-style: none;
    padding: 0rem;
    gap: 70px;
    transform: translate(-15.9375rem, -1.5625rem);
}

.steps-item {
    max-width: 290px;
}

.steps-num {
    font-family: "Bebas Neue Book";
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: rgb(92, 142, 230);
    display: flex;
    align-items: center;
}

.steps-num::after {
    content: "";
    height: 1px;
    background: rgb(235, 235, 240);
    width: 100%;
    margin-left: 30px;
}

.steps-title {
    font-weight: 400;
    font-size: 29px;
    line-height: 150%;
    color: rgb(41, 45, 51);
    margin-top: 30px;
    margin-bottom: 15px;
    transform: translateY(.3125rem);
}

.steps-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgb(130, 138, 153);
    margin-top: 10px;
    margin-bottom: 20px;
    width: 17.1875rem;
}

.button-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: rgb(92, 142, 230);
}

.button-link::before {
    content: "";
    height: 1px;
    background: rgb(92, 142, 230);
    width: 40px;
    margin-right: 20px;
    transition: width 0.2s;
}

.button-link:hover::before {
    width: 3.75rem;
}

.primary-buttons-wrapper {
    display: flex;
    height: 3.75rem;
    justify-content: flex-end;
}

.primary-button-prev,
.primary-button-next {
    background: rgb(92, 142, 230);
    height: 100%;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.steps-button {
    display: none;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    transform: translate(6.5625rem, -4.0625rem);
}

.card {
    text-decoration: none;
    flex-basis: 33%;
    border: .0625rem solid rgb(235, 235, 240);
    position: relative;
    transition: border 0.2s;
}

.card:hover .card-title {
    color: rgb(92, 142, 230);
}

.card:hover {
    border-color: rgb(92, 142, 230);
}

.card-content {
    padding: 40px 50px;
}

.card-title {
    font-weight: 400;
    font-size: 1.75rem;
    color: rgb(41, 45, 51);
    margin-top: 0rem;
    margin-bottom: .625rem;
    transition: color 0.2s;
}

.card-text {
    font-size: 1rem;
    line-height: 140%;
    color: rgb(130, 138, 153);
    margin-bottom: 394px;
}

.card-image {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    z-index: 0;
    width: 90%;
}

.trademark-cards {
    display: flex;
}

.trademark-card {
    transform: translate(6.5625rem, -4.375rem);
    flex-basis: 50%;
    text-decoration: none;
    border: .0625rem solid rgb(235, 235, 240);
    transition: border 0.2s;
    padding: 50px;
    display: grid;
    grid-template: "logo title title" "logo text text" 2fr / 11.25rem 1fr;
    column-gap: 50px;
}

.trademark-card-logo {
    width: 100%;
    fill: rgb(130, 138, 153);
    grid-area: logo;
}

.trademark-card-title {
    font-weight: 400;
    margin: 0rem;
    font-size: 28px;
    line-height: 160%;
    color: rgb(41, 45, 51);
    grid-area: title;
}

.trademark-card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgb(130, 138, 153);
    grid-area: text;
    margin-top: 10px;
}

.trademark-card:hover {
    border-color: rgb(92, 142, 230);
}

.trademark-card:hover .trademark-card-logo {
    fill: rgb(92, 142, 230);
}

.trademark-card:hover .trademark-card-title {
    color: rgb(92, 142, 230);
}

.founder {
    position: relative;
}

.founder-photo {
    left: 0rem;
    width: 46%;
    top: 0rem;
    object-fit: cover;
    transform: translate(.3125rem, -12.5rem);
}

.founder-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: rgb(130, 138, 153);
    width: 37.5rem;
    transform: translate(-0.9375rem, -12.1875rem);
}

.founder-content .button-link {
    transform: translate(-0.9375rem, -11.5625rem);
}

.founder-content {
    max-width: 720px;
    transform: translate(0rem, -35.9375rem);
}

.founder-content .section-title {
    transform: translate(-0.9375rem, -10.9375rem);
    width: 25rem;
}

.founder-content .seporator {
    transform: translate(-0.9375rem, -9.375rem);
}

.founder-content-wrapper {
    display: flex;
    justify-content: flex-end;
}

.clients-wrapper {
    display: flex;
    gap: 3.125rem;
}

.clients-content {
    flex-basis: 65%;
    transform: translate(.3125rem, -2.8125rem);
}

.clients-list {
    list-style-type: none;
    padding: 0rem;
    columns: 2;
    transform: translate(0rem, -21.875rem);
}

.clients-list-item {
    align-items: center;
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 300%;
    color: rgb(41, 45, 51);
}

.clients-logo-list {
    display: flex;
    flex-wrap: wrap;
    transform: translate(-1.5625rem, -21.25rem);
}

.client-logo-item {
    flex-basis: 33%;
    border: .0625rem solid rgb(235, 235, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    filter: grayscale(100%);
    transition: filter 0.2s;
}

.client-logo-item:hover {
    filter: grayscale(0%);
}

.clients-logo {
    max-width: 100%;
    width: 4.375rem;
    height: 4.375rem;
}

.clients-list-icon {
    transform: translate(-0.625rem, .625rem);
}

.clients-content .section-title {
    transform: translate(-0.625rem, -20.9375rem);
}

.clients .seporator {
    transform: translate(0rem, -22.1875rem);
}

.blog-card {
    display: flex;
    position: relative;
    min-height: 400px;
    flex-direction: column;
    text-decoration: none;
    color: rgb(255, 255, 255);
    justify-content: flex-end;
    padding: 50px;
}

.blog-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0rem;
    top: 0rem;
    background: rgba(41, 45, 51, 0.6);
    z-index: -1;
}

.blog-card-image {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.blog-card-title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 160%;
    margin-bottom: 10px;
    margin-top: 0rem;
}

.blog-card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin: 0rem;
}

.blog-slider-footer {
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-between;
}

.section.blog .container {
    transform: translate(3.125rem, -53.125rem);
}

.section.blog .section-title {
    transform: translate(0rem, 0rem);
}

.section.blog .seporator {
    transform: translate(0rem, -1.875rem);
}

.bg-grey {
    background: rgb(240, 242, 245);
    transform: translate(0rem, -47.875rem);
}

.cta-image {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    max-width: 720px;
    width: 50%;
}

.section-cta {
    position: relative;
    padding-top: 150px;
    margin-top: 100px;
    padding-bottom: 0px;
    transform: translateY(-850px);
}


.cta-from-wrapper {
    display: flex;
    justify-content: flex-end;
}

.cta-form {
    max-width: 840px;
    transform: translate(0px, -50px);
}


.cta-form-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgb(130, 138, 153);
    margin-top: 22px;
    margin-bottom: 40px;
    max-width: 640px;
}

.input-group-wrapper {
    display: flex;
    gap: 30px;
}

.input-group-vertical {
    display: flex;
    flex-direction: column;
}

.input-group {
    position: relative;
    height: 66px;
    flex-grow: 1;
    background-color: #f0f2f5;
}

.input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    padding: 20px 30px;
    border: .0625rem solid rgb(228, 228, 235);
    background-color: inherit;
}

.input-group-label {
    position: absolute;
    cursor: text;
    top: 24px;
    left: 31.6px;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(130, 138, 153);
    transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.input:focus {
    border: .0625rem solid rgb(92, 142, 230);
    outline: 0rem;
}

.input:focus~.input-group-label,
.input:not(:placeholder-shown).input:not(:focus)~.input-group-label {
    top: -8px;
    left: 20px;
    font-size: 10px;
    background-color: inherit;
    padding: 0rem .625rem;
}

.input.is-invalid {
    border: 1px solid red;
}

.just-validate-error-label {
    padding: absolute;
    top: 0;
    right: 10px;
    background-color: inherit;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    transform: translateY(-50%);
    font-size: 0.8rem;
    display: inline-block;
}

.cta-form-footer {
    gap: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.cta-form-button {
    flex-shrink: 0;
    width: 15.625rem;
    height: 3.75rem;
}

.notify {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.notify-icon {
    flex-shrink: 0;
    transform: translate(0rem, 1.25rem);
}

.notify-text {
    min-width: 380px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    margin: 0rem;
    transform: translate(-0.3125rem, 1.125rem);
}

.cta-form-title {
    transform: translate(.625rem, .9375rem);
}

.footer-top {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    color: #292d33;
    gap: .625rem;
    transform: translate(120px, 0px);
}

.footer-info-adress,
.footer-info-email {
    font-style: inherit;
    text-decoration: inherit;
    color: inherit;
    transform: translate(0px, 0px);
}

.footer-logo {
    width: 12.5rem;
    height: 3.75rem;
}

.footer-phone {
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 160%;
    text-decoration-line: underline;
    color: #292d33;
}

.footer-social-link {
    text-decoration: none;
}

.footer-seporator {
    color: #ebebf0;
    background-color: #ebebf0;
}

.footer-bottom {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

.footer-menu-title {
    margin-top: 0;
    margin-bottom: 1.875rem;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
}

.footer-menu-list {
    margin: 0;
    padding-left: 1.25rem;
    list-style-type: none;
}

.footer-menu-column-2 {
    columns: 20rem auto;
    min-width: 50rem;
}

.footer-menu-link-bold {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 160%;
    color: #292d33;
    margin-bottom: 1.875rem;
    text-decoration: none;
}

.footer-wrapper {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-style: normal;
    color: #828a99;
}

.footer-copyright,
.footer-policy {
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 160%;
    color: inherit;
}

.footer-wrapper,
.footer-legal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4.375rem;
    transform: translate(0px, -30px);
}

.footer-bottom {
    display: flex;
}

.footer-menu-wrapper:last-child {
    margin-left: 5rem;
}

.footer-menu-link {
    text-decoration: none;
    color: #828a99;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    margin-bottom: 0.9375rem;
    display: block;
}

.footer-social-icon {

    transform: translate(80px, 0px);
}

.footer-authot {
    transform: translate(-70px, -50px);
}

.footer {
    transform: translate(0px, -800px);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.modal.is-open {
    opacity: 1;
    visibility: visible;
}


.modal.is-open .modal-dialog {
    transform: translateY(0);
    opacity: 1;
}

.modal-dialog {
    position: relative;
    max-width: 500px;
    width: 100%;
    margin: 0 20px;
}


.modal-close {
    display: block;
    position: absolute;
    top: 40px;
    right: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ebebf0;
}

.modal-title {
    font-family: "Bebas Neue Book";
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    color: #292d33;
    margin-top: 0;
    margin-bottom: 20px;
}

.modal-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #828a99;
    margin-bottom: 30px;
}

.modal-input-group {
    background-color: #fff;
}

.modal-form-footer {
    margin-top: 30px;
}

.modal-form-button {
    display: block;
    width: 100%;
    margin-bottom: 24px;
}

.cta-page {
    position: relative;
    padding-top: 150px;
    margin-top: 100px;
    padding-bottom: 0px;
    transform: translateY(520px);
}

.footer-page {
    transform: translate(0px, -300px);
}

.thank-you-modal {
    background: white;
    width: 500px;
    height: 638px;
    transform: translate(-30px, 15px);
    text-align: center;
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.thank-you-content {
    transform: translate(0px, 80px);
}

.thank-you-title {
    font-family: "Bebas Neue Book", sans-serif;
    font-size: 44px;
    color: #292d33;
    transform: translate(10px, -60px);
}

.thank-you-text {
    font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #828A99;
    width: 360px;
    height: 0px;
    transform: translate(75px, -85px);
}

.thank-you-button {
    font-family: "Bebas Neue Book", sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    border: 2px solid #5C8EE5;
    background: #5C8EE5;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 50px;
    font-size: 19px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.thank-you-image {
    width: 360px;
    transform: translate(0px, -45px);
    margin: 0 auto 15px;
    display: block;
}



@media (max-width: 1920px) {
    .navbar {
        height: 80px;
    }

    .logo-svg {
        width: 160px;
        transform: translate(-0.625rem, .375rem);
    }

    .header {
        padding: 64px;
    }

    .header-title {
        font-size: 80px;
        transform: translate(9.0625rem, 1.5625rem);
    }

    .header-text {
        font-size: 14.4px;
    }

    .header-features-item {
        padding: 16px 32px;
        width: 240px;
    }

    .steps-num {}

    .steps-title {}

    .steps-text {}

    .steps-item {
        transform: translate(0rem, .0625rem);
    }
}

@media (max-width: 1670px) {
    html {
        font-size: .8125rem;
    }

    .header-logo {
        padding: 32px;
    }

    .logo-svg {
        max-width: 96px;
    }

    .header-nav {
        padding-left: 32px;
    }

    .header-nav-item:not(:last-child) {}

    .navbar-button {
        transform: translateY(-0.4375rem);
    }

    .steps-item {
        max-width: 240px;
        transform: translate(-3.125rem, .0625rem);
    }

    .steps {
        display: flex;
        transform: translate(0rem, 0rem);
    }

    .founder-content {
        transform: translate(3.125rem, -32.8125rem);
    }
}

@media (max-width: 1460px) {
    html {
        font-size: .8125rem;
    }

    .header-logo {
        padding: 32px;
    }

    .logo-svg {
        max-width: 96px;
    }

    .header-nav {
        padding-left: 32px;
    }

    .header-nav-item:not(:last-child) {}

    .steps-item {
        max-width: 240px;
        transform: translate(-3.125rem, .0625rem);
    }

    .clients-content .section-title {
        transform: translate(6.25rem, -23.4375rem);
    }

    .clients .seporator {
        transform: translate(6.25rem, -22.8125rem);
    }

    .clients-list {
        transform: translate(6.875rem, -21.875rem);
    }

    .clients-logo-list {
        transform: translate(9.375rem, -21.875rem);
    }

    .founder-content {
        transform: translate(0rem, -29.6875rem);
    }

    .footer {
        transform: translate(10px, -550px);
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 1120px;
    }

    .header-phone {
        display: none;
    }

    .navbar {
        height: 80px;
    }

    .navbar-button {
        padding-left: 32px;
        padding-right: 32px;
        transform: translate(0rem, 0rem);
        height: 3.75rem;
        width: 4.375rem;
    }

    .slider-buttons {
        display: flex;
    }

    .primary-buttons-wrapper {
        height: 2.5rem;
    }

    .primary-button-prev,
    .primary-button-next {
        width: 3.75rem;
    }

    .steps-button {
        display: flex;
    }

    .card {
        flex-basis: 50%;
    }

    .steps-item {
        max-width: 240px;
        transform: translate(-3.125rem, .0625rem);
    }

    .trademark-card {
        grid-template-columns: auto auto;
    }

    .founder-content {
        max-width: 560px;
        transform: translate(6.25rem, -23.75rem);
    }

    .founder-content .section-title {
        width: 37.5rem;
    }

    .clients-content {
        flex-basis: 65%;
        transform: translate(5.3125rem, -1.875rem);
    }

    .clients-content .section-title {
        transform: translate(6.25rem, -21.875rem);
        width: 37.5rem;
    }

    .clients .seporator {
        transform: translate(-3.4375rem, -17.8125rem);
    }

    .clients-wrapper {
        display: flex;
        width: 62.5rem;
        transform: translate(-15rem, 4.375rem);
    }

    .cta-image {
        transform: translate(-10.9375rem, -53.125rem);
    }

    .section.blog {
        transform: translate(-5.625rem, 1.875rem);
    }
}

@media (max-width: 992px) {
    html {
        font-size: .75rem;
    }

    .container {
        max-width: 960px;
    }

    .header-nav {
        display: none;
    }

    .header-logo {
        flex-grow: 1;
        justify-content: center;
    }

    .mobile-menu-toggle {
        width: 5rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 28.8px;
        border-right: .0625rem solid rgba(235, 235, 240, 0.2);
    }

    .navbar-light .mobile-menu-line {
        background-color: rgb(51, 51, 51);
    }

    .mobile-menu-line {
        height: .0625rem;
        background-color: rgb(255, 255, 255);
        width: 100%;
        transition: transform 0.2s;
    }

    .mobile-menu-line:nth-child(2) {
        width: 80%;
    }

    .navbar-button .button-text {
        display: none;
    }

    .navbar-button .button-icon {
        display: block;
        fill: rgb(255, 255, 255);
    }

    .mobile-menu {
        position: fixed;
        inset: 0rem;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 2;
        background-color: rgb(255, 255, 255);
        padding-top: 80px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .mobile-menu.is-open {
        display: block;
    }

    .mobile-menu-nav {
        list-style: none;
        padding: 0rem;
    }

    .mobile-menu-nav-item {
        margin-bottom: 32px;
    }

    .mobile-menu-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 14px;
        line-height: 160%;
        color: rgb(41, 45, 51);
    }

    .mobile-submenu {
        list-style: none;
        padding: 0rem 0rem 0rem 16px;
        margin-top: 16px;
    }

    .mobile-submenu-link {
        text-decoration: none;
        color: rgb(130, 138, 153);
        font-size: .875rem;
        line-height: 160%;
    }

    .mobile-phone {
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 160%;
        color: rgb(41, 45, 51);
        text-decoration-line: underline;
        border-top: .0625rem solid rgb(235, 235, 240);
        padding-top: 32px;
        margin-bottom: 16px;
    }

    .mobile-info {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
    }

    .mobile-info-address,
    .mobile-info-email {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 160%;
        color: rgb(41, 45, 51);
    }

    .mobile-social-inst {
        transform: translate(2.8125rem, .0625rem);
    }

    .mobile-social-vk {
        transform: translateY(-2.1875rem);
    }

    .close-menu .mobile-menu-line:nth-child(2) {
        display: none;
    }

    .close-menu .mobile-menu-line:nth-child(1) {
        transform: rotate(45deg) translateY(.5625rem);
    }

    .close-menu .mobile-menu-line:nth-child(3) {
        transform: rotate(-45deg) translateY(-0.5625rem);
    }

    .steps-item {
        max-width: 290px;
        transform: translate(-4.0625rem, 0rem);
    }

    .trademark-cards {
        flex-direction: column;
    }

    .founder-content {
        max-width: 37.5rem;
        transform: translate(-3.125rem, 0rem);
    }

    .founder-photo {
        width: 46.875rem;
        height: 37.5rem;
        transform: translate(12.5rem, -18.75rem);
    }

    .clients-list {
        width: 13.125rem;
        columns: auto;
        transform: translate(6.25rem, -21.875rem);
    }

    .cta-image {
        display: none;
    }

    .cta-from-wrapper {
        transform: translate(-5.3125rem, -53.125rem);
    }

    .cta-form-title {
        transform: translate(0rem, .625rem);
    }

    .section.clients {
        transform: translate(-3.125rem, 31.25rem);
    }

    .section.blog {
        transform: translate(-7.5rem, 30.9375rem);
    }

    .section-cta {
        transform: translate(-5.625rem, 20.3125rem);
    }

    .cta-form {
        transform: translate(30px, -90px);
    }

    .bg-grey {
        background: rgb(240, 242, 245);

    }

    .founder-text {
        width: 56.25rem;
    }

    .clients-wrapper {
        display: flex;
        width: 62.5rem;
        transform: translate(-21.25rem, 4.375rem);
    }

    .clients-content {
        flex-basis: 65%;
        transform: translate(11.5625rem, -2.5rem);
    }

    .clients .seporator {
        transform: translate(-3.4375rem, -19.6875rem);
    }

    .clients-content .section-title {
        transform: translate(6.25rem, -23.125rem);
        width: 21.875rem;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }

    .header-title {
        font-size: 64px;
    }

    .header-content {
        padding-top: 48px;
    }

    .card {
        flex-basis: 100%;
    }

    .founder-photo {
        width: 100%;
        position: relative;
        margin-bottom: 50px;
        transform: translate(4.6875rem, -18.75rem);
    }

    .founder-content .section-title {
        transform: translate(-6.25rem, -12.5rem);
        width: 31.25rem;
    }

    .founder-content .seporator {
        transform: translate(-6.25rem, -11.25rem);
    }

    .founder-content .button-link {
        transform: translate(-6.25rem, -14.375rem);
    }

    .clients .seporator {
        transform: translate(-7.5rem, 3.125rem);
    }

    .clients-content {
        transform: translate(0rem, 21.875rem);
    }

    .founder-content {
        transform: translate(5.625rem, 0rem);
        max-width: 100%;
    }

    .clients-logo-list {
        transform: translate(6.25rem, 0rem);
    }

    .founder-text {
        width: 43.75rem;
        transform: translate(-6.25rem, -14.0625rem);
    }

    .clients-content .section-title {
        transform: translate(-7.5rem, -20.3125rem);
        width: 31.25rem;
    }

    .section.clients {
        transform: translate(18.75rem, 0rem);
    }

    .section-cta {
        transform: translate(11.875rem, 20.3125rem);
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 90%;
    }

    .header .seporator {
        transform: translate(8.125rem, 2.5rem);
    }

    .header-title {
        font-size: 32px;
        transform: translate(8.125rem, 2.5rem);
    }

    .header-button {
        width: 100%;
        height: 50%;
        transform: translate(8.125rem, 2.5rem);
    }

    .header-text {
        font-size: 16px;
        transform: translate(8.125rem, 2.5rem);
    }

    .header-content {
        padding-top: 32px;
    }

    .trademark-cards {
        grid-template-areas: "logo title" "text text";
    }

    .founder-photo {
        transform: translate(11.875rem, -5.625rem);
    }

    .founder-content {
        transform: translate(-14.375rem, -5.625rem);
        width: 6.25rem;
    }

    .founder-text {
        width: 33.75rem;
    }

    .founder-content .section-title {
        transform: translateX(0rem);
        width: 25rem;
    }

    .clients .section-title {
        transform: translate(6.25rem, -21.875rem);
        width: 25rem;
    }

    .clients .seporator {
        transform: translate(12.5rem, -9.375rem);
    }

    .clients-content {
        transform: translate(6.25rem, 12.5rem);
    }

    .clients-logo-list {
        width: 1e+1.0625rem;
        transform: translate(-12.5rem, 21.875rem);
    }
}