* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Bebas Neue Book";
    src: url("../fonts/BebasNeueBook.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Noto Sans", sans-serif;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 94px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    transition: backround-color 0.2s, height 0.2s;
}

.navbar-light {
    background-color: rgb(255, 255, 255);
    color: rgb(41, 45, 51);
    height: 74px;
}

.navbar-light .header-logo-path {
    fill: rgb(41, 45, 51);
}

.header {
    padding: 94px;
    min-height: 100vh;
}

.header-image {
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 5px;
}

.header-image::before {
    content: "";
    position: absolute;
    background-color: rgba(41, 45, 51, 0.75);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;
}

.header-nav {
    display: flex;
    flex-basis: 100%;
    list-style: none;
    padding: 0px 50px;
    margin: 0px;
}

.header-nav-link {
    text-decoration: none;
    font-size: 16px;
    margin-right: 50px;
    color: inherit;
}

.header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}

.header-phone-link {
    text-decoration: none;
    font-size: 16px;
    color: inherit;
    transform: translate(8px, 1.5px);
}

.button {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: rgb(255, 255, 255);
    background: rgb(58, 113, 209);
    padding: 25px 60px;
    border: none;
    display: inline-block;
    cursor: pointer;
}

.navbar-button {
    flex-shrink: 0;
    height: 100%;
    padding: 25px 50px;
}

.header-button {
    height: 100%;
}

.seporator {
    background: rgb(92, 142, 230);
    width: 150px;
    height: 2px;
}

.header-content {
    padding-top: 150px;
    position: relative;
    z-index: 1;
    color: rgb(255, 255, 255);
}

.header-title {
    max-width: 1080px;
    font-family: "Bebas Neue Book";
    font-size: 80px;
    line-height: 120%;
    margin: 30px 0px;
    letter-spacing: 0.8px;
    word-spacing: -1.6px;
    transform: translate(10px, -5px);
}

.header-text {
    max-width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 50px;
    transform: translate(10px, 1px);
}

.header-features {
    display: flex;
    min-height: 168px;
    padding: 0px;
    margin-top: 102px;
    list-style: none;
    color: rgb(255, 255, 255);
    position: relative;
}

.header-features-item {
    padding: 28px 50px;
    width: 288px;
    border: 1px solid rgba(235, 235, 240, 0.2);
    transform: translate(9px, -1px);
}

.header-button {
    padding: 26px 70px;
    transform: translateX(10px);
}

.header-features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 0px;
    margin-top: 18px;
}

.header-features-item:not(:last-child) {
    border-right: none;
}

.section {
    margin-top: 150px;
    margin-bottom: 150px;
    transform: translate(7px, -20px);
}

.section-title {
    font-family: "Bebas Neue Book";
    font-size: 60px;
    line-height: 120%;
    color: rgb(41, 45, 51);
}

.steps {
    display: flex;
    list-style: none;
    padding: 0px;
    gap: 70px;
}

.steps-item {
    max-width: 290px;
    transform: translateY(5px);
}

.steps-num {
    font-family: "Bebas Neue Book";
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: rgb(92, 142, 230);
    display: flex;
    align-items: center;
}

.steps-num::after {
    content: "";
    height: 1px;
    background: rgb(235, 235, 240);
    width: 100%;
    margin-left: 30px;
}

.steps-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 160%;
    color: rgb(41, 45, 51);
    margin-top: 30px;
    margin-bottom: 10px;
    transform: translateY(5px);
}

.steps-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgb(130, 138, 153);
    margin-top: 10px;
    margin-bottom: 20px;
}

.steps-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: rgb(92, 142, 230);
}

.steps-link::before {
    content: "";
    height: 1px;
    background: rgb(92, 142, 230);
    width: 40px;
    margin-right: 20px;
}